﻿<div class="panel-footer d-flex flex-row justify-content-center text-white" style="background-color: black; opacity: 0.5">
    <div class="mr-3" style="color: white">Copyright 
    <i class="fa fa-copyright"></i>
    2021</div>
    <div style="color: blue">Default</div>

</div>
