﻿
<div class=" navbar-inverse navbar-fixed-top" style="padding:0">
    <div class="container">
        <div class="col-lg-3">
            <img src="~/Content/images/logo.png" height="80" width="100" alt="Devfast logo" />
        </div>
        <div class="col" style="margin-top: 10px; text-align: center; align-content: center">
            <h3 style="color: white; text-align:center">Blog Management</h3>
        </div>
    </div>
</div>