﻿
    <div class="col-3">
        <div class="bg-white" style="padding-left: 40px; height: 730px">
            <div class="sidebar-heading py-4 primary-text fs-4 ">
                <i class="fa-solid fa-list"></i>
                @Html.ActionLink("List", "Index", null, new {@class = "text-dark"})
            </div>
            <div class="sidebar-heading py-4 primary-text fs-4">
                <i class="bi bi-file-earmark-diff"></i>
                @Html.ActionLink("New", "Create", null, new { @class = "text-dark" })
            </div>
            <div class="sidebar-heading py-4 primary-text fs-4">
                <i class="fa-solid fa-magnifying-glass"></i>
                @Html.ActionLink("Search", "Search", null, new { @class = "text-dark" })
            </div>
        </div>

    </div>

