﻿@model ListBlog.Models.Blog

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col" style="margin: 10px 0px 10px 0px">
    @using (Html.BeginForm())
    {
       

        @Html.AntiForgeryToken()

        <div class="card" style="margin: 0px 10px 10px 0px">
            <div class="card-header">
                <h4 class="font-weight-bold">Edit Blogs</h4>
            </div>
            <div class="card-body pt-2">
                <div>Tiêu đề</div>
                <textarea class="form-control img-rounded col-lg-12" placeholder="Title" name="news" id="news"></textarea>
                @Html.ValidationMessageFor(model => model.news, "", new { @class = "text-danger" })
                <div>Mô tả ngắn</div>
                <textarea class="form-control img-rounded col-lg-12" placeholder="Description" style="margin: 5px 0px 5px 0px" rows="4" name="description" id="description"></textarea>
                <div>Chi tiết</div>
                <textarea class="form-control img-rounded col-lg-12" placeholder="Details" style="margin: 5px 0px 5px 0px" rows="8" name="details" id="details"></textarea>
                <div>Hình ảnh</div>
                <input type="file" id="myFileInput" value="Chọn tệp" />
                <div>Vị trí</div>
                @{
                    if (ViewBag.locationList != null)
                    {
                        foreach (var item in ViewBag.locationList)
                        {
                            <input type="checkbox" class="form-check-input" name="locationList" value="@item" />
                            <span class="ml-4">@item</span>
                        }
                    }
                }

                <div>Public</div>
                <div class="mb-4">
                    <input type="radio" class="form-check-input" name="state" id="yes" value="true" checked />
                    <span class="ml-4">Yes</span>
                    <input type="radio" class="form-check-input" name="state" id="no" value="false" />
                    <span class="ml-4">No</span>
                </div>
                <div class="row">
                    <div class="col p-2">
                        <div class="col-lg-6">Loại:</div>
                        <select class="form-select h-50 align-items-center ml-4 h5" name="type" id="type">
                            @{
                                if (ViewBag.typeList != null)
                                {
                                    foreach (var item in ViewBag.typeList)
                                    {
                                        <option value="@item" name="type">@item</option>
                                    }
                                }
                            }
                        </select>

                    </div>
                    <div class="col p-2">
                        <div class="col-lg-6">Date Public:</div>
                        <input type="date" class="form-control ml-4" name="publicDate" />
                        @Html.ValidationMessageFor(model => model.publicDate, "", new { @class = "text-danger ml-4" })
                    </div>
                </div>

            </div>
            <div class="row d-flex justify-content-center card-footer p-4">
                <button class="btn-success col-lg-1 mr-2 rounded" type="submit">Submit</button>
                <button class="btn-primary col-lg-1 rounded">Clear</button>
            </div>
        </div>
    }
</div>
