﻿@model ListBlog.Models.Blog

@{
    ViewBag.Title = "Delete";
}

<d class="col">

    <div class="card">
        <div class="card-header pl-4">
<h3>Delete</h3>

<h4>Are you sure you want to delete this?</h4>
            </div>
<div>

    <h4 class="pl-4">Blog</h4>
    <hr />
    <dl class="dl-horizontal mr-5">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.details)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.details)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.file)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.file)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.news)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.news)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.locations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.locations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.publicDate) 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.publicDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn-outline-success rounded ml-4 mb-4" /> 
            <button class="btn-outline-warning rounded ml-4 mb-4">
                <a href="~/ListBlog/Index">Back to List</a>
            </button>
        </div>
    }
</div>
        </div>
</div>