﻿@model ListBlog.Models.Blog
@{
    ViewBag.Title = "Edit";
}
<div class="col">
    <div class="card">
        <div class="card-header">
            <h3>Edit</h3>

        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4 class="pl-4">Blog</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.details, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.details, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.details, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.file, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.file, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.file, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.news, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.news, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.news, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-2" })
                    <select class="form-select h-50 align-items-center ml-4 h5" name="type" id="type">
                        @{
                            if (ViewBag.typeList != null)
                            {
                                foreach (var item in ViewBag.typeList)
                                {
                                    <option value="@item" name="type">@item</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox ml-4">
                            @Html.EditorFor(model => model.state)
                            @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.locations, htmlAttributes: new { @class = "control-label col-md-2" })
                    @{
                        if (String.IsNullOrEmpty(Model.locations))
                        {
                            <label style="margin-left:10px">
                                <input type="checkbox" name="locationList" value="Việt Nam" /> Việt Nam
                            </label>
                            <label style="margin-left:20px">
                                <input type="checkbox" name="locationList" value="Châu Á" /> Châu Á
                            </label>
                            <label style="margin-left:20px">
                                <input type="checkbox" name="locationList" value="Châu Âu" /> Châu Âu
                            </label>
                            <label style="margin-left:20px">
                                <input type="checkbox" name="locationList" value="Châu Mỹ" /> Châu Mỹ
                            </label>
                        }
                        else
                        {
                            if (Model.locations.Contains("Việt Nam"))
                            {
                                <label style="margin-left:10px">
                                    <input type="checkbox" name="locationList" value="Việt Nam" checked="checked" /> Việt Nam
                                </label>
                            }
                            else
                            {
                                <label style="margin-left:10px">
                                    <input type="checkbox" name="locationList" value="Việt Nam" /> Việt Nam
                                </label>
                            }
                            if (Model.locations.Contains("Châu Á"))
                            {
                                <label style="margin-left:10px">
                                    <input type="checkbox" name="locationList" value="Châu Á" checked="checked" /> Châu Á
                                </label>
                            }
                            else
                            {
                                <label style="margin-left:10px">
                                    <input type="checkbox" name="locationList" value="Châu Á" /> Châu Á
                                </label>
                            }
                            if (Model.locations.Contains("Châu Âu"))
                            {
                                <label style="margin-left:10px">
                                    <input type="checkbox" name="locationList" value="Châu Âu" checked="checked" /> Châu Âu
                                </label>
                            }
                            else
                            {
                                <label style="margin-left:10px">
                                    <input type="checkbox" name="locationList" value="Châu Âu" /> Châu Âu
                                </label>
                            }
                            if (Model.locations.Contains("Châu Mỹ"))
                            {
                                <label style="margin-left:10px">
                                    <input type="checkbox" name="locationList" value="Châu Mỹ" checked="checked" /> Châu Mỹ
                                </label>
                            }
                            else
                            {
                                <label style="margin-left:10px">
                                    <input type="checkbox" name="locationList" value="Châu Mỹ" /> Châu Mỹ
                                </label>
                            }
                        }
                    }
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.publicDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.publicDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.publicDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
