﻿@model IEnumerable<ListBlog.Models.Blog>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="col" style="margin: 10px 0px 10px 0px">
    @Html.Partial("Search")
        <div class="card" style="margin: 0px 10px 10px 0px">
            <div class="card-header">
                <h4 style="font-weight: bold">List Blog</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered text-center" style="margin: 0px">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center">Id</th>
                            <th scope="col" style="text-align: center">Tin</th>
                            <th scope="col" style="text-align: center">Loại</th>
                            <th scope="col" style="text-align: center">Trạng thái</th>
                            <th scope="col" style="text-align: center">Vị trí</th>
                            <th scope="col" style="text-align: center">Ngày public</th>
                            <th scope="col" style="text-align: center">Edit</th>
                            <th scope="col" style="text-align: center">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.news)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.type)
                                </td>
                                @{
                                    if (item.state == true)
                                    {
                                        <td>Yes</td>

                                    }
                                    else
                                    {
                                        <td>No</td>
                                    }
                                }


                                <td>
                                    @Html.DisplayFor(modelItem => item.locations)
                                </td>
                                <td>
                                    @item.publicDate.ToShortDateString()
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary"> <a href="~/ListBlog/Edit/@item.Id" ; style="text-decoration:none">Edit</a></button>

                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-danger"> <a href="~/ListBlog/Delete/@item.Id" ; style="text-decoration: none; color: red">Delete</a></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>