﻿@using (Html.BeginForm())

{
    @Html.AntiForgeryToken()
    <div class="card" style="margin: 0px 10px 10px 0px">
        <div class="card-header">
            <h4 style="font-weight: bold">Search Blogs</h4>
        </div>

        <div class="card-body">
            <div class="input-group d-flex">
                <h5 class="col-1">Title</h5>
                <input id="search-input" type="text" name="searchString" placeholder="Search" class="form-control rounded col-11" />
            </div>
            <div class="row justify-content-center">
                <button id="search-btn" class="btn seach btn-outline-success border-success" style="width: 100px; margin-top: 5px" type="submit">Search</button>
            </div>
        </div>
    </div>
} 